# --- SYSTEM CONFIG - DO NOT TOUCH ---#
arkstChannel="master"                                               # change it to a different branch to get non-stable versions
install_bindir="/usr/bin"
install_libexecdir="/usr/libexec/arkmanager"
install_datadir="/usr/share/arkmanager"

# config SteamCMD
steamcmdroot="${STEAM_HOME}/steamcmd"                               # path of your steamcmd instance
steamcmdexec="steamcmd.sh"                                          # name of steamcmd executable
steamcmd_user="${STEAM_USER}"                                       # name of the system user who own steamcmd folder
steamcmd_appinfocache="${STEAM_HOME}/Steam/appcache/appinfo.vdf"    # cache of the appinfo command
steamcmd_workshoplog="${STEAM_HOME}/Steam/logs/workshop_log.txt"    # Steam workshop log - change this to "/home/steam/.steam/logs/workshop_log.txt" on Debian/Ubuntu/CentOS if you have the steamcmd package installed
steamlogin="${STEAM_LOGIN}"                                         # Uncomment this to specify steam login instead of using anonymous login
steamcmdhome="${STEAM_HOME}"                                        # Uncomment this to override steamcmd home directory

# config environment
arkserverexec="ShooterGame/Binaries/Linux/ShooterGameServer"        # name of ARK server executable
arkbackupdir="${ARK_SERVER_VOLUME}/backup"                          # path to backup directory
arkbackupcompress="true"                                            # Enable/Disable backup compression
arkwarnminutes="60"                                                 # number of minutes to warn players when using update --warn
arkprecisewarn="false"                                              # set this to true to obey warnminutes even if no players are connected (recommended for clusters)
arkNoPortDecrement="true"                                           # unset this to use the old Port - 1 behaviour
arkautorestartfile="ShooterGame/Saved/.autorestart"                 # path to autorestart file
arkAutoUpdateOnStart=${UPDATE_ON_START}                             # set this to true if you want to always update before startup
arkBackupPreUpdate=${PRE_UPDATE_BACKUP}                             # set this to true if you want to perform a backup before updating
arkStagingDir="${ARK_SERVER_VOLUME}/staging"

# Options to automatically remove old backups to keep backup size in check
# Each compressed backup is generally about 1-2MB in size.
arkMaxBackupSizeMB="500"                                            # Set to automatically remove old backups when size exceeds this limit

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ARK server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ARK server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ARK server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ARK server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ARK server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ARK server will shutdown in %d seconds"
msgWarnCancelled="Restart cancelled by player request"

# Notifications
discordWebhookURL="https://discord.com/api/webhooks/1498781264436531311/UZ9CA8C_wzM-PGnxbtNvbFNqaD4CLiq4Cz5sryAdkPWdcH1punnrN5x7-Y0iEV6tVgM4"
notifyMsgShuttingDown="Shutting down"
notifyMsgStarting="Starting"
notifyMsgServerUp="Server is up"
notifyMsgStoppedListening="Server has stopped listening - restarting"
notifyMsgServerTerminated="Server exited - restarting"
notifyvar_session="${SESSION_NAME}"
notifyTemplate='Message from instance `{instance}` on server "{session}": {msg}'
noNotifyWarning=true
notifyCommand='echo "$msg" | mailx -s "Message from instance ${instance} on server ${HOSTNAME}" "email@domain.com"'

# Restart cancel chat command

# ARK server common options - use ark_<optionname>=<value>, overridden per instance.
serverMap="TheIsland"                                               # server map (default TheIsland)
ark_RCONEnabled="True"                                              # Enable RCON Protocol
ark_ServerPassword=""                                               # ARK server password, empty: no password required to login
ark_ServerAdminPassword="keyboardcat"                               # ARK server admin password, KEEP IT SAFE!
ark_MaxPlayers="70"

# config Service
logdir="${ARK_SERVER_VOLUME}/log/"                                  # Logs path (default /var/log/arktools)

# steamdb specific
appid=376030                                                        # Linux server App ID
mod_appid=346110                                                    # App ID for mods

# Mod OS Selection
mod_branch=Windows

defaultinstance="main"