# --- SYSTEM CONFIG - DO NOT TOUCH ---#
arkstChannel="master"
                  
install_bindir="/usr/bin"
install_libexecdir="/usr/libexec/arkmanager"
install_datadir="/usr/share/arkmanager"

# config SteamCMD
steamcmdroot="${STEAM_HOME}/steamcmd"                              
steamcmdexec="steamcmd.sh"                                         
steamcmd_user="${STEAM_USER}"                                      
steamcmd_appinfocache="${STEAM_HOME}/Steam/appcache/appinfo.vdf"   
steamcmd_workshoplog="${STEAM_HOME}/Steam/logs/workshop_log.txt"   
steamlogin="${STEAM_LOGIN}"                                        
steamcmdhome="${STEAM_HOME}"                                       

# config environment
arkserverexec="ShooterGame/Binaries/Linux/ShooterGameServer"       
arkbackupdir="${ARK_SERVER_VOLUME}/backup"                         
arkbackupcompress="true"                                           
arkwarnminutes="60"                                                
arkprecisewarn="false"                                             
arkNoPortDecrement="true"                                          
arkautorestartfile="ShooterGame/Saved/.autorestart"                
arkAutoUpdateOnStart=${UPDATE_ON_START}                            
arkBackupPreUpdate=${PRE_UPDATE_BACKUP}                            
arkStagingDir="${ARK_SERVER_VOLUME}/staging"

arkMaxBackupSizeMB="500"                      

# Update warning messages
# Modify as desired, putting the %d replacement operator where the number belongs
msgWarnUpdateMinutes="This ARK server will shutdown for an update in %d minutes"
msgWarnUpdateSeconds="This ARK server will shutdown for an update in %d seconds"
msgWarnRestartMinutes="This ARK server will shutdown for a restart in %d minutes"
msgWarnRestartSeconds="This ARK server will shutdown for a restart in %d seconds"
msgWarnShutdownMinutes="This ARK server will shutdown in %d minutes"
msgWarnShutdownSeconds="This ARK server will shutdown in %d seconds"
msgWarnCancelled="Restart cancelled by player request"

# Notifications
discordWebhookURL="https://discord.com/api/webhooks/1498781264436531311/UZ9CA8C_wzM-PGnxbtNvbFNqaD4CLiq4Cz5sryAdkPWdcH1punnrN5x7-Y0iEV6tVgM4"
notifyMsgShuttingDown="Shutting down"
notifyMsgStarting="Starting"
notifyMsgServerUp="Server is up"
notifyMsgStoppedListening="Server has stopped listening - restarting"
notifyMsgServerTerminated="Server exited - restarting"
notifyvar_session="${SESSION_NAME}"
notifyTemplate='Message from instance `{instance}` on server "{session}": {msg}'
noNotifyWarning=true
notifyCommand='echo "$msg" | mailx -s "Message from instance ${instance} on server ${HOSTNAME}" "email@domain.com"'

# config Service
logdir="${ARK_SERVER_VOLUME}/log/"

# steamdb specific
appid=376030
mod_appid=346110

# Mod OS Selection
mod_branch=Windows

defaultinstance="main"