arkserverroot="${ARK_SERVER_VOLUME}/server"

serverMap=${SERVER_MAP}
ark_RCONEnabled="True"
ark_RCONPort=${RCON_PORT}
#ark_SessionName=${SESSION_NAME} 
ark_Port=${GAME_CLIENT_PORT}
ark_QueryPort=${SERVER_LIST_PORT}
ark_ServerPassword=${SERVER_PASSWORD}
ark_ServerAdminPassword=${ADMIN_PASSWORD}
ark_MaxPlayers=${MAX_PLAYERS}
ark_GameModIds=${GAME_MOD_IDS}

#arkopt_MaxDifficulty=True
ark_bDisableStructurePlacementCollision=True
ark_DinoCharacterFoodDrainMultiplier=1.0
ark_GlobalSpoilingTimeMultiplier=1.5
ark_OverrideOfficialDifficulty=5.0
ark_TamingSpeedMultiplier=2.5
ark_XPMultiplier=2.0

# ARK server options - i.e. for -optname=val, use arkopt_optname=val
arkmod_731604991=game
